<div class="{% if board.boards_position %}col-md-12 mb-4 board-item{% else %}col-md-4 mb-4 board-item{% endif %}" data-board-id="{{ board.id }}">
    <div class="card p-3 shadow-sm">
        <h4>{{ board.title }}</h4>
        <p class="text-muted small">{{ board.members.count }} members</p>
        <p>{{ board.description|default:"No description"|truncatechars:100 }}</p>

        <div class="mb-2">
            {% with tags=board.tags.all %}
                {% for tag in tags|slice:":3" %}
                    <a href="{% url "boards_list" %}?{% for t in selected_tags %}q={{ t }}&{% endfor %}q={{ tag.name }}"
                    class="badge bg-secondary me-1 text-decoration-none text-light">
                        #{{ tag.name }}
                    </a>
                {% endfor %}

                {% if tags|length > 3 %}
                    <span class="badge bg-secondary text-light">
                        +{{ tags|length|add:"-3" }}
                    </span>
                {% endif %}
            {% endwith %}
        </div>
        {% if board.user_is_member %}
            <a href="{% url 'board_detail' board.slug %}" class="btn btn-primary btn-sm">View board</a>
        {% else %}
            <form action="{% url 'join_board' board.slug %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm">Join board</button>
            </form>
        {% endif %}
    </div>
</div>