#notifications-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    width: 320px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;

    background-color: #2c2c2c; 
    border: 1px solid #444;   
    border-radius: 8px;
    color: #e0e0e0;          
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.notifications-container {
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
    margin: 0 auto;
}

.notifications-container::-webkit-scrollbar,
#notifications-dropdown::-webkit-scrollbar {
    width: 4px;
}
.notifications-container::-webkit-scrollbar-thumb,
#notifications-dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.notifications-container::-webkit-scrollbar-track,
#notifications-dropdown::-webkit-scrollbar-track {
    background: transparent;
}

.notification-site-item {
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #2a2a2a;
    color: #f1f1f1;
    transition: background 0.3s;
}

.notification-site-item.unread {
    background: #49c5ff;
    color: #000;
    font-weight: 600;
}

.notification-item {
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #444;
    background-color: #2c2c2c;
    color: #e0e0e0;
    transition: background 0.2s;
}

.notification-time{
    font-size: 12px;
    justify-content: flex-end;
    align-items: end;
}

.notification-item:hover {
    background-color: #3a3a3a;
}

.notification-item.text-muted {
    color: #888;
}

.mark-read-btn {
    background: transparent;
    border: 1px solid #198754;
    color: #198754;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 11px;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s;
}

.mark-read-btn:hover {
    background: #198754;
    color: #fff;
}

.mark-all-read-btn {
    background: transparent;
    border: 1px solid #871919;
    color: #871919;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s;
}

.btn-dd {
    width: 18px !important;
    height: 18px !important;
    font-size: 11px !important;
}

.mark-all-read-btn:hover {
    background: #871919;
    color: #fff;
}
