{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/posts/styles.css' %}">
{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card post-card shadow-sm mb-3">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="{{ post.author.avatar.url }}" alt="avatar" class="avatar-small e me-3" width="48" height="48">
                        <div>
                            <h6 class="fw-bold mb-0">
                                <a href="{% url 'user_detail' post.author.slug %}" class="text-decoration-none text-light">
                                    {{ post.author.username }}
                                </a>
                            </h6>
                            <div class="message-time small text-end">
                                {{ post.created_at|date:"d M Y, H:i" }}
                                
                                {% if post.was_edited %}
                                <span
                                    class="ms-1 text-light css-tooltip"
                                    data-title="edited at {{ post.updated_at|date:'H:i d.m.Y' }}">
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% if post.author == request.user %}
                        {% include "helpers/posts/dd_post.html" %}
                    {% endif %}
                </div>

                <div class="card-body">
                    <h2 class="fw-bold mb-3">{{ post.title }}</h2>
                    <p>{{ post.content }}</p>

                    {% if media_files %}
                        {% include "helpers/post_files/media_preview.html" %}
                        {% include "helpers/post_files/media_modal.html" %}
                    {% endif %}

                    {% include "helpers/post_files/attachments.html" %}

                    <hr>

                    <div class="d-flex align-items-center justify-content-between mt-3 mb-2">
                        <button class="like-btn" data-post-id="{{ post.id }}">❤️ <span class="likes-count">{{ likes_count }}</span></button>
                        <div class="text-light">👁️ {{ viewers_count }} views</div>
                    </div>

                    {% if post.people_tags.exists %}
                        <div class="mt-2 gap-1 d-flex flex-wrap tagged-people-container">
                            👥 Tagged:
                            {% for user in post.people_tags.all %}
                                <a href="{% url 'user_detail' user.slug %}" class="badge tagged-people-item me-1">{{ user.username }}</a>
                            {% endfor %}
                            {% if post.people_tags.all|length > 3 %}
                                <div class="d-flex gap-2">
                                    <button class="show-more-tagged-people btn btn-sm btn-link p-0 text-light me-2">Show more...</button>
                                    <button class="hide-tagged-people btn btn-sm btn-link p-0 text-light" style="display:none">Hide</button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card shadow-sm border-0 d-flex flex-column comments-section"
                style="border-radius:16px; overflow:hidden; height:70vh;">

                <div id="comments-box"
                    class="flex-grow-1 overflow-auto p-3"
                    data-post-id="{{ post.id }}" 
                    data-url="{% url 'posts_comments_infinite' post_pk=post.id %}">

                    <h5 class="mb-3">Comments</h5>

                    <div id="comments-list">
                        {% include "helpers/partials/posts/comments_list.html" with comments=comments %}
                    </div>

                    <div id="comments-loader" class="text-center my-3 d-none">
                        <div class="spinner-border spinner-border-sm"></div>
                    </div>

                    <div id="comments-end" class="text-center my-3 d-none">
                        <small class="text-light">No more comments</small>
                    </div>
                </div>

                <div id="comment-form" class="p-3 border-top">
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form.content }}
                        <button type="submit"
                        class="btn btn-primary w-100 mt-2 comment-submit">
                            Submit
                        </button>
                        <div class="edit-actions d-flex gap-2 mt-2"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script type="module"
        src="{% static 'js/posts/comments/comments_infinite_scroll.js' %}">
</script>
<script src="{% static 'js/posts/script.js' %}"></script>

{% endblock %}
