{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary px-4 py-2" href="{% url "post_create" %}" style="border-radius: 12px;">
            <i class="bi bi-plus-circle me-1"></i> Create Post
        </a>
    </div>

    <div id="posts-container">
        {% include "helpers/partials/posts_list.html" %}
    </div>

    <div id="loader" class="text-center my-4 d-none">
        <div class="spinner-border"></div>
    </div>
    <div id="end-of-posts" class="text-center my-4 d-none">
        <p class="text-light">No more posts to load.</p>


</div>
<script src="{% static 'js/posts/script.js' %}"></script>
<script src="{% static 'js/posts/infinite_scroll.js' %}"></script>

{% endblock content %}