{% extends "base.html" %}

{% block title %} Messenger {% endblock %}

{% block content %}
<div class="container mt-4">

  <div class="d-flex justify-content-center mb-3">
    <button id="btn-chats" class="btn btn-outline-secondary">Chats</button>
    <button id="btn-users" class="btn btn-outline-primary ms-2">Users</button>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="user-list" class="list-group d-none">
        {% for user in user_followers %}
          <form method="post" action="{% url 'create_chat' %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">

            <button type="submit"
                    class="list-group-item list-group-item-action d-flex align-items-center gap-2">
              <img src="{{ user.avatar.url }}"
                  class="avatar-tiny rounded-circle"
                  alt="{{ user.username }}">
              <strong>{{ user.username }}</strong>
            </button>
          </form>
        {% empty %}
          <p class="text-light px-3 m-2">No one is following you.</p>
        {% endfor %}
      </div>
      
      <div id="chat-list" class="list-group">
        <a href="{% url 'create_group' %}" class="mb-2 btn btn-outline-primary text-light">➕ Create chat</a>
        {% for c in chats %}
          <a href="{% url 'chat' c.id %}"
            class="list-group-item list-group-item-action {% if c.pk == chat.pk %}active-chat{% endif %}">
            {% if c.is_group %}
              {% with first_user=c.users.first %}
                <div class="d-flex gap-2">
                  <img src="{{ first_user.avatar.url }}" class="avatar-tiny rounded-circle">

                  <div class="d-flex flex-column">
                    <strong>{{ c.title }}</strong>
                    <small class="text-light opacity-75" style="font-size: 0.75rem;">
                      {{ c.users.count }} members
                    </small>
                  </div>
                </div>
              {% endwith %}
            {% else %}
              {% for u in c.users.all %}
                {% if u != request.user %}
                  <div class="gap-2 d-flex align-items-left">
                    <img src="{{ u.avatar.url }}" class="avatar-tiny rounded-circle">
                    <strong>{{ u.username }}</strong>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </a>
        {% empty %}
          <div class="text-light text-center mt-2">No chats.</div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-9">
      {% if chat.id %}
        <div class="d-flex align-items-center justify-content-between p-2 rounded bg-dark shadow-sm">

          <div class="d-flex align-items-center gap-2">

            {% if chat.is_group %}
              {% with first_user=chat.users.first %}
              <a href="{% url 'user_detail' first_user.slug %}" class="text-decoration-none">
                <img src="{{ first_user.avatar.url }}"
                    class="avatar-small rounded-circle">
              </a>
              {% endwith %}
            {% else %}
              {% for u in chat.users.all %}
                {% if u != request.user %}
                  <a href="{% url 'user_detail' u.slug %}">
                    <img src="{{ u.avatar.url }}"
                        class="avatar-small rounded-circle">
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}

            <div class="d-flex flex-column">
              <strong class="text-light">{{ chat.title }}</strong>
              {% if chat.is_group %}
                <small class="text-light">
                  {{ chat.users.count }} members
                </small>
              {% endif %}
            </div>
          </div>

          <div class="d-flex gap-2">
            {% if chat.is_group %}
              <button class="btn btn-sm btn-outline-info"
                      data-bs-toggle="modal"
                      data-bs-target="#groupInfoModal">
                ℹ️
              </button>
            {% endif %}

            <a href="{% url 'chat_edit' chat.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="#" class="btn btn-sm btn-outline-danger" id="chat-delete-btn">Delete</a>
          </div>
        </div>
        {% endif %}

      {% if chat.id %}
        <div id="chat-box"
              class="chat-box p-4 mb-3 rounded shadow-sm
                      {% if chat.background %}chat-box--bg{% else %}chat-box--default{% endif %}"
              {% if chat.background %}
                data-bg-url="{{ chat.background.url }}"
              {% endif %}
          >
          {% for message in messages %}
            <div class="d-flex message-row
              {% if message.user == request.user %}
                justify-content-end
              {% else %}
                justify-content-start
              {% endif %}
              mb-3">

            {% if message.user != request.user %}
            <a href="{% url 'user_detail' message.user.slug %}" class="text-decoration-none">
              <img src="{{ message.user.avatar.url }}"
                  class="message-avatar">
            </a>
            {% endif %}

            <div class="message-content
                {% if message.user == request.user %}
                  message-own
                {% else %}
                  message-other
                {% endif %}"
                data-message-id="{{ message.id }}">

              <div>
                <a href="{% url 'user_detail' message.user.slug %}" class="text-decoration-none message-username">
                {{ message.user.username }}
                </a>
              </div>

              <div class="message-text">
                {{ message.text|linebreaksbr }}
              </div>

              <div class="message-time">
                {{ message.created_at|date:"H:i d/m/Y" }}
              </div>

                <div class="message-reactions mt-1">
                  <div class="reactions-list d-inline-block">
                    {% for emoji, data in message.reactions_by_emoji.items %}
                      <button class="reaction-btn
                          {% if message.user_reacted_emoji == emoji %}
                            active-reaction-btn
                          {% else %}
                            reaction-inactive-btn
                          {% endif %}"
                          data-emoji="{{ emoji }}">
                        {{ emoji }}
                        
                        {% if data.count <= 3 %}
                          {% for user in data.users %}
                            <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="reaction-avatar" />
                          {% endfor %}
                        {% else %}
                          <span class="reaction-count">{{ data.count }}</span>
                        {% endif %}
                        
                      </button>
                    {% endfor %}
                  </div>
                  
                  <div class="emoji-picker d-none">
                    {% if message.was_edited %}
                      <div class="emoji-picker-header">
                        <span class="edited-time">
                          edited at {{ message.updated_at|date:"H:i d/m/Y" }}
                        </span>
                      </div>
                    {% endif %}

                    <div class="emoji-picker-body">
                      {% for emoji, label in emoji_choices %}
                        <span class="emoji-choice" data-emoji="{{ emoji }}">{{ emoji }}</span>
                      {% endfor %}
                    </div>

                    <hr>

                    {% if message.user == request.user %}
                      <div class="message-actions mt-2">
                        <a href="#" class="btn btn-sm btn-outline-danger message-delete-btn"
                          data-message-id="{{ message.id }}">Видалити</a>
                        <a href="{% url 'message_edit' message.pk %}"
                          class="btn btn-sm btn-outline-warning message-update-btn"
                          data-message-id="{{ message.id }}">Редагувати</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <form id="message-form" class="d-flex" method="post" action="javascript:void(0)">
          {% csrf_token %}
          {{ form.text }}
          <button type="submit" class="btn btn-primary ms-2">Sent</button>
        </form>

      {% else %}
        <div id="chat-box"
            class="chat-box chat-box--empty d-flex justify-content-center align-items-center">
          <p class="card text-center p-2 fs-4 bg-dark text-light">
            Choose chat or user to start messaging.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% include "helpers/messenger/modal_info.html" %}
<script>
  document.getElementById('btn-users').addEventListener('click', function() {
    document.getElementById('user-list').classList.remove('d-none');
    document.getElementById('chat-list').classList.add('d-none');
  
    this.classList.replace('btn-outline-primary', 'btn-primary');      
    document.getElementById('btn-chats').classList.replace('btn-primary', 'btn-outline-secondary'); 
  });
  
  document.getElementById('btn-chats').addEventListener('click', function() {
    document.getElementById('chat-list').classList.remove('d-none');
    document.getElementById('user-list').classList.add('d-none');
  
    this.classList.replace('btn-outline-secondary', 'btn-primary');     
    document.getElementById('btn-users').classList.replace('btn-primary', 'btn-outline-primary'); 
  });
  
  const chatId = {{ chat.id|default:'null' }};
  const chatBox = document.querySelector('#chat-box');
  const form = document.querySelector('#message-form');
  const textInput = form.querySelector('input[name="text"]');
  const currentUser = "{{ request.user.username }}";
  
  const protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
  const socket = new WebSocket(`${protocol}://${window.location.host}/ws/chat/${chatId}/`);
  
  function createReactionButton(emoji, count, users, userReactedEmojis) {
    const btn = document.createElement('button');
    btn.classList.add('reaction-btn');
    btn.dataset.emoji = emoji;

    if (userReactedEmojis.includes(emoji)) {
        btn.classList.add('active-reaction-btn');
    } else {
        btn.classList.add('reaction-inactive-btn');
    }

    let html = `${emoji} `;

    if (count <= 3) {
        users.forEach((user, index) => {
            const margin = index === 0 ? '' : 'style="margin-left: -8px;"';
            html += `<img src="${user.avatar}" alt="${user.username}" class="reaction-avatar" ${margin} />`;
        });
    } else {
        html += `<span class="reaction-count">${count}</span>`;
    }

    btn.innerHTML = html;

    // Клік на реакцію
    btn.addEventListener('click', () => {
        const messageId = btn.closest('.message-content').dataset.messageId;
        socket.send(JSON.stringify({
            type: 'reaction_update',
            message_id: messageId,
            emoji: emoji
        }));
    });

    const tooltip = document.createElement('div');
    const end_text = document.createElement('div');

    users.forEach(u => {
        const div = document.createElement('div');
        div.classList.add('reaction-user');
        div.innerHTML = `<img src="${u.avatar}" class="avatar-small" alt="${u.username}"><span>${u.username}</span>`;
        tooltip.appendChild(div);
    });

    end_text.textContent = `and others...`;
    end_text.classList.add('reaction-user', 'mt-1', 'text-center', 'text-light', 'fw-bold');
    tooltip.appendChild(end_text);
    tooltip.classList.add('reaction-tooltip', 'd-none');
    document.body.appendChild(tooltip);

    btn.addEventListener('mouseenter', () => {
        const rect = btn.getBoundingClientRect();
        tooltip.style.position = 'fixed';
        tooltip.style.top = `${rect.bottom + 5}px`;
        tooltip.style.left = `${rect.left}px`;
        tooltip.classList.remove('d-none');
    });

    // Ховати тултіп тільки при кліку поза ним і кнопкою
    document.addEventListener('click', e => {
        if (!tooltip.contains(e.target) && e.target !== btn) {
            tooltip.classList.add('d-none');
        }
    });

    return btn;
  }

  function attachReactionTooltips() {
    document.querySelectorAll('.reaction-btn').forEach(btn => {
      const tooltip = btn.querySelector('.reaction-tooltip');
      if (!tooltip) return;

      btn.addEventListener('mouseenter', () => {
          const rect = btn.getBoundingClientRect();
          tooltip.style.top = `${rect.bottom + window.scrollY}px`;
          tooltip.style.left = `${rect.left + window.scrollX}px`;
          tooltip.classList.remove('d-none');
      });
      btn.addEventListener('mouseleave', () => {
        tooltip.classList.add('d-none');
      });
    });
  }

  
  socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
  
    if (data.type === 'chat_message') {
      const isOwn = data.user === currentUser;
      const messageHTML = `
        <div class="d-flex message-row ${isOwn ? 'justify-content-end' : 'justify-content-start'} mb-3">
          ${!isOwn ? `<img src="${data.avatar}" class="avatar-small message-avatar">` : ''}
          <div class="message-content ${isOwn ? 'message-own' : 'message-other'}"
               data-message-id="${data.id}">
            <div>
              <a href="/users/${data.user_slug}/" class="text-decoration-none message-username">
              ${data.user}
              </a>
            </div>
            <div class="message-text">
              ${data.text}
            </div>
            <div class="message-time">
              ${data.created_time}
            </div>
            <div class="message-reactions mt-1">
              <div class="reactions-list d-inline-block"></div>
              <div class="emoji-picker d-none">
              <div class="message-time">edited at ${data.updated_time}</div>
                {% for emoji, label in emoji_choices %}
                  <span class="emoji-choice" data-emoji="{{ emoji }}">{{ emoji }}</span>
                {% endfor %}
                <hr>
                ${isOwn ? `
                  <div class="message-actions mt-2">
                    <a href="#" class="btn btn-sm btn-outline-danger message-delete-btn" data-message-id="${data.id}">Delete</a>
                    <a href="#" class="btn btn-sm btn-outline-warning message-update-btn" data-message-id="${data.id}">Edit</a>
                  </div>
                ` : ''}
              </div>
            </div>
          </div>
        </div>`;
      chatBox.insertAdjacentHTML('beforeend', messageHTML);
      scrollToBottom();
      attachRightClickEvents();
      attachEmojiClickEvents();
      attachReactionTooltips();
    }
  
    if (data.type === 'reaction_update') {
      const msgEl = document.querySelector(`[data-message-id="${data.message_id}"]`);
      if (!msgEl) return;

      const list = msgEl.querySelector('.reactions-list');
      list.innerHTML = '';

      data.counts.forEach(r => {
        const btn = createReactionButton(r.emoji, r.count, r.users, data.user_reacted_emojis);
        list.appendChild(btn);
      });
    }
    if (data.type === 'message_deleted') {
      const msg = document.querySelector(`[data-message-id="${data.message_id}"]`);
      if (msg) msg.remove();
    }
    if (data.type === 'update_message') { 
      const msgEl = document.querySelector(`[data-message-id="${data.id}"]`);
      if (msgEl) {
        const messageTextEl = msgEl.querySelector('.message-text');
        if (messageTextEl) {
          messageTextEl.innerText = data.text;
          msgEl.classList.remove('editing');
        }
      }
    }    
  };


  
  const deleteChatBtn = document.getElementById('chat-delete-btn');
  {% if chat.id  %}
  deleteChatBtn.addEventListener('click', function(e){
    e.preventDefault();
    const confirmed = confirm("Ви впевнені що хочете видалити цей чат?");
    if (!confirmed) return;
    fetch("{% url 'chat_delete' chat.id %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Accept": "application/json",
      }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) window.location.href = data.redirect_url;
    })
    .catch(err => console.error(err));
  });
  {% endif %}
  
  document.querySelectorAll('.message-delete-btn').forEach(btn => {
    btn.addEventListener('click', function(e) {
      e.preventDefault();
      if (!confirm("Ви впевнені що хочете видалити це повідомлення?")) return;
  
      const messageId = this.dataset.messageId;
  
      socket.send(JSON.stringify({
        type: "delete_message",
        message_id: messageId
      }));
    });
  });
  

  let editingMessageId = null;
  const sendBtn = form.querySelector('button[type="submit"]');

  document.querySelectorAll(".message-update-btn").forEach(btn => {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      const messageBlock = this.closest('.message-content');
      const messageId = this.dataset.messageId;
      const messageTextEl = messageBlock.querySelector('.message-text');
      const messageText = messageTextEl ? messageTextEl.innerText.trim() : '';

      document.querySelectorAll('.message-content').forEach(el => el.classList.remove('editing'));
      messageBlock.classList.add('editing');


      textInput.value = messageText;
      textInput.focus();

      editingMessageId = messageId;
      sendBtn.textContent = "Зберегти зміни";
      sendBtn.classList.remove("btn-primary");
      sendBtn.classList.add("btn-warning");
    });
  });

  form.addEventListener('submit', e => {
    e.preventDefault();
    const text = textInput.value.trim();
    if (!text) return;
  
    if (editingMessageId) {
      socket.send(JSON.stringify({
        type: "update_message",
        message_id: editingMessageId,
        text: text
      }));
    
      textInput.value = "";
      editingMessageId = null;
      sendBtn.textContent = "Надіслати";
      sendBtn.classList.remove("btn-warning");
      sendBtn.classList.add("btn-primary");
    }
    else {
      socket.send(JSON.stringify({
        type: 'chat_message',
        text: text
      }));
      textInput.value = '';
    }    
  });  

  function scrollToBottom() {
    chatBox.scrollTop = chatBox.scrollHeight;
  }
  
  function attachRightClickEvents() {
    document.querySelectorAll('.message-content').forEach(msg => {
      msg.oncontextmenu = e => {
        e.preventDefault();
        document.querySelectorAll('.emoji-picker').forEach(p => p.classList.add('d-none'));
        const picker = msg.querySelector('.emoji-picker');
        if (!picker) return;
        picker.style.position = 'fixed'; 
        picker.style.top = e.clientY + 'px';
        picker.style.left = e.clientX + 'px';
        picker.classList.remove('d-none');
      };
    });
  }
  
  function attachEmojiClickEvents() {
    document.querySelectorAll('.emoji-choice').forEach(choice => {
      choice.onclick = () => {
        const emoji = choice.dataset.emoji;
        const picker = choice.closest('.emoji-picker');
        const messageId = picker.closest('.message-content').dataset.messageId;
  
        socket.send(JSON.stringify({
          type: 'reaction_update',
          message_id: messageId,
          emoji: emoji
        }));
  
        picker.classList.add('d-none');
      };
    });
  }
  
  document.addEventListener('click', e => {
    if (!e.target.closest('.emoji-picker')) {
      document.querySelectorAll('.emoji-picker').forEach(p => p.classList.add('d-none'));
    }
  });

  const chatBoxBg = document.querySelector('.chat-box--bg');
  if (chatBoxBg) {
    chatBoxBg.style.backgroundImage = `url(${chatBoxBg.dataset.bgUrl})`;
  }
  
  attachRightClickEvents();
  attachEmojiClickEvents();
  scrollToBottom();
  
</script>
{% endblock %}
