.env
.envrc
.venv
env/
venv/
ENV/
__pycache__/
.idea
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/avatars/
media/post_files/
media/backgrounds/
media/group_messages/
/staticfiles

# Test bd creation
main/test_bd.py
templates/main/create_test_db.html