version: "3.9"

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 social_network.asgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
