<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title mb-3 text-center"> Stats</h5>
        <ul class="list-group list-group-flush small">
            <li class="list-group-item d-flex justify-content-between">
                <span>Boards created</span>
                <strong>{{ stats.boards_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Board messages</span>
                <strong>{{ stats.board_messages_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Posts</span>
                <strong>{{ stats.posts_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Tagged in posts</span>
                <strong>{{ stats.tagged_in_posts_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Post likes given</span>
                <strong>{{ stats.posts_likes_given_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Post likes obtained</span>
                <strong>{{ stats.my_posts_likes_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Comments</span>
                <strong>{{ stats.comments_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Comment likes given</span>
                <strong>{{ stats.comments_likes_given_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Comment likes obtained</span>
                <strong>{{ stats.my_comments_likes_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Private chats</span>
                <strong>{{ stats.chats_count }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Messages sent</span>
                <strong>{{ stats.messenger_messages_count }}</strong>
            </li>
        </ul>
    </div>
</div>
