{% extends 'base.html' %}
{% block title %}Логін{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h2 class="mb-3">Логін</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
        <p class="mt-2">Нема акаунту? <a href="{% url 'register' %}">Зареєструватися</a></p>
    </div>
</div>
{% endblock %}
