{% extends "base.html" %}

{% block title %}Register — Step 1{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-card">
        {% if request.user.is_authenticated %}
        <h3 class="text-center card-title"><a href="{% url "main_page" %}" class="text-decoration-none">You are already authenticated</a></h3>
        {% else %}
        <h3 class="text-center mb-4 card-title">Register — Step 1</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Next →</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
