{% extends 'base.html' %}
{% block title %}Sing in{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-3">Sing in</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Sumbit</button>
        </form>
        <p class="mt-2">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
</div>
{% endblock %}
