{% extends 'base.html' %}
{% block title %}Користувачі{% endblock %}

{% block content %}
<h2 class="mb-3">Список користувачів</h2>
<table class="table table-striped">
    <thead>
        <tr>

            <th>Avatar</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Bio</th>
            <th>Bithday</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {% if user.avatar %}
                    <img src="{{ user.get_avatar_url  }}" alt="{{ user.username }}" width="50" class="avatar-small">
                {% else %}
                    <span class="text-muted">—</span>
                {% endif %}
            </td>
            <td><a href={% url "user_detail" user.slug %} style="text-decoration: none;">{{ user.username }}<a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.bio }}</td>
            <td>{{ user.birthday }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No users</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
        </li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
