{% extends "base.html" %}
{% load static %}

{% block title %}{{ user_detail.username }} — profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/posts/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- ====================== PROFILE HEADER ====================== -->
    <div class="profile-upper d-flex align-items-start gap-4 mb-4">

        <div class="profile-avatar flex-shrink-0">
            <img src="{{ user_detail.avatar.url }}" alt="{{ user_detail.username }}"
                class="rounded-circle" style="width:150px; height:150px; object-fit:cover;">
        </div>

        <div class="profile-main flex-grow-1 d-flex flex-column justify-content-start">

            <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-2">
                <h2 class="username mb-0 position-relative d-inline-block">
                    {{ user_detail.username }}

                    {% if is_user_friend %}
                        <span class="badge-over">friend</span>
                    {% endif %}
                </h2>



                {% if request.user == user_detail %}
                    <div class="dropdown">
                        <a href="{% url 'edit_user' user_detail.slug %}" class="btn btn-primary btn-sm">Edit Profile</a>
                        <a href="{% url 'change_password' user_detail.slug %}" class="btn btn-secondary btn-sm">Change Password</a>
                    </div>
                {% elif request.user.is_authenticated %}
                    <div class="d-flex gap-2">
                        <form action="{% url 'toggle_follow' user_detail.slug %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            {% if user_is_following %}
                                <button class="btn btn-outline-danger">Unfollow</button>
                            {% elif is_following_user %}
                                <button class="btn btn-success">Follow back</button>
                            {% else %}
                                <button class="btn btn-primary">Follow</button>
                            {% endif %}
                        </form>
                        {% if is_user_friend %}
                        <form method="post" action="{% url 'create_chat' %}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user_detail.id }}">
                            <button type="submit" href=""  class="btn btn-outline-secondary">Message</a>
                        </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="d-flex gap-4 mb-2">
                <div><strong>{{ followers_count }}</strong> <a href="#" data-bs-toggle="modal" data-bs-target="#followersModal" class="text-decoration-none text-light">followers</a></div>
                <div><strong>{{ following_count }}</strong> <a href="#" data-bs-toggle="modal" data-bs-target="#followingModal" class="text-decoration-none text-light">following</a></div>
            </div>

            {% if user_detail.bio %}
            <div class="profile-bio">
                {{ user_detail.bio }}
            </div>
            {% endif %}

        </div>
    </div>


    <!-- ====================== STATS CARD ====================== -->
    {% if request.user == user_detail %}
        {% include "helpers/partials/general/profile_stats.html" %}
    {% endif %}
    <!-- ====================== TABS: POSTS / BOARDS / LIKED ====================== -->
    <ul class="nav nav-tabs nav-fill mt-4" id="profileTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-secondary" id="posts-tab" 
                data-bs-toggle="tab" data-bs-target="#posts-tab-pane" 
                type="button" role="tab">
                <span class="ms-1 css-tooltip"
                data-title="Your Posts">
                <i class="bi bi-journal-text"></i>
                </span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary" id="boards-tab" 
                data-bs-toggle="tab" data-bs-target="#boards-tab-pane" 
                type="button" role="tab">
                <span class="ms-1 css-tooltip"
                data-title="Your Boards">
                <i class="bi bi-collection"></i>
                </span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-danger" id="liked-tab" 
                    data-bs-toggle="tab" data-bs-target="#liked-tab-pane" 
                    type="button" role="tab">
                <span class="ms-1 css-tooltip"
                data-title="Liked Posts">
                <i class="bi bi-suit-heart-fill"></i>
                </span>
            </button>
        </li>
    </ul>

    <div class="tab-content mt-3" id="profileTabsContent">

        <!-- POSTS -->
        <div class="tab-pane fade show active" id="posts-tab-pane" role="tabpanel">
            {% include "helpers/partials/posts/posts_list.html" with posts=posts %}
            {% if posts.paginator.num_pages > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?posts_page={{ posts.previous_page_number }}"><-</a></li>
                    {% endif %}
                    {% for num in posts.paginator.page_range %}
                        {% if posts.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?posts_page={{ num }}#posts-tab-pane">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?posts_page={{ posts.next_page_number }}">-></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <!-- BOARDS -->
        <div class="tab-pane fade" id="boards-tab-pane" role="tabpanel">
            {% include "helpers/partials/boards/boards_list.html" with boards=user_boards %}
            {% if user_boards.paginator.num_pages > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if user_boards.has_previous %}
                    <li class="page-item"><a class="page-link" href="?boards_page={{ user_boards.previous_page_number }}"><-</a></li>
                    {% endif %}
                    {% for num in user_boards.paginator.page_range %}
                        {% if user_boards.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?boards_page={{ num }}#boards-tab-pane">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if user_boards.has_next %}
                    <li class="page-item"><a class="page-link" href="?boards_page={{ user_boards.next_page_number }}">-></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <!-- LIKED POSTS -->
        <div class="tab-pane fade" id="liked-tab-pane" role="tabpanel">
            {% if posts_user_liked %}
                {% for post in posts_user_liked %}
                    {% include "helpers/partials/posts/post_item.html" with post=post %}
                {% endfor %}
                {% if posts_user_liked.paginator.num_pages > 1 %}
                <nav>
                    <ul class="pagination justify-content-center mt-3">
                        {% if posts_user_liked.has_previous %}
                        <li class="page-item"><a class="page-link" href="?liked_page={{ posts_user_liked.previous_page_number }}"><-</a></li>
                        {% endif %}
                        {% for num in posts_user_liked.paginator.page_range %}
                            {% if posts_user_liked.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?liked_page={{ num }}#liked-tab-pane">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts_user_liked.has_next %}
                        <li class="page-item"><a class="page-link" href="?liked_page={{ posts_user_liked.next_page_number }}">-></a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            {% else %}
                <p class="text-light text-center">This user hasn't liked any posts yet.</p>
            {% endif %}
        </div>

    </div>

</div>

<!-- ====================== MODALS ====================== -->
{% include "helpers/partials/general/followers_modal.html" %}
{% include "helpers/partials/general/following_modal.html" %}

<script>
document.addEventListener("DOMContentLoaded", function () {
    const triggerTabList = document.querySelectorAll('#profileTabs button');

    triggerTabList.forEach(triggerEl => {
        triggerEl.addEventListener('shown.bs.tab', event => {
            const id = event.target.getAttribute('data-bs-target');
            history.replaceState(null, null, id);
        });
    });

    const hash = window.location.hash;
    if (hash) {
        const triggerEl = document.querySelector(`#profileTabs button[data-bs-target="${hash}"]`);
        if (triggerEl) {
            new bootstrap.Tab(triggerEl).show();
        }
    }
});
</script>


<script src="{% static 'js/posts/script.js' %}"></script>
{% endblock %}
