<div class="comment-item mb-2" data-comment-id="{{ comment.id }}">
    <div class="d-flex justify-content-between align-items-start">
        <div>
            <strong><a class="text-decoration-none text-light" href="{% url "user_detail" comment.user.slug %}">{{ comment.user.username }}</a></strong>:
            <span class="comment-text">
                {{ comment.content }}
            </span>
        </div>

        {% if comment.user == request.user %}
            {% include "helpers/posts/dd_comment.html" %}
        {% endif %}
    </div>

    <button class="like-comment-btn btn btn-sm mt-1"
            data-comment-id="{{ comment.id }}">
        👍 <span class="comment-likes-count">{{ comment.likes.count }}</span>
    </button>
</div>

