
.board-sidebar .board-card {
  border-radius: 12px;
}

.board-messages {
  background: #f6f7fb;
  border-radius: 12px;
  padding: 18px;
  height:60vh
}

.board-messages::-webkit-scrollbar {
    width: 4px;
}

.board-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.board-messages::-webkit-scrollbar-track {
    background: transparent;
}

.board-message-item .board-card {
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 6px 18px rgba(20,20,30,0.04);
  overflow: visible;
}

.board-message-content {
  white-space: pre-wrap;
}

.board-message-item.editing .board-card {
  outline: 2px solid rgba(13,110,253,0.12);
  background: #fff;
}

.tags-container .badge {
  font-weight: 500;
  margin-bottom: 6px;
}

.board-message-form {
  border-radius: 12px;
  padding: 14px;
  background: rgb(45 48 50);
  box-shadow: 0 4px 12px rgba(20,20,30,0.03);
}

.bg-gray {
    background-color: rgb(45 48 50);
}

.dropdown {
    position: relative;
}
