{% extends "base.html" %}

{% block title %}Create Board{% endblock title %}

{% block content %}
{{ form.media }} 
<div class="container mt-4">
	<h2>Create Board</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}

		<div class="mb-3">
			{{ form.title.label_tag }}
			{{ form.title }}
			<div class="text-danger">{{ form.title.errors }}</div>
		</div>

		<div class="mb-3">
			{{ form.description.label_tag }}
			{{ form.description }}
			<div class="text-danger">{{ form.description.errors }}</div>
		</div>

		<div class="mb-3">
			{{ form.tags.label_tag }}
			{{ form.tags }}
			<div class="text-danger">{{ form.tags.errors }}</div>
		</div>

		<button type="submit" class="btn btn-primary">Create Board</button>
		<a href="{% url 'boards_list' %}" class="btn btn-secondary ms-2">Cancel</a>
	{{ form.media.js }}
	</form>
</div>



{% endblock %}

