{% extends "base.html" %}

{% block title %} Edit Board: {{ board.title }} {% endblock %}

{% block content %}
{{ form.media }} 
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="form-card">
    <h3 class="text-center mb-4 card-title">
      <i class="bi bi-pencil-square"></i> Edit Board: "{{ board.title }}"
    </h3>

    <form method="post">
		{% csrf_token %}

		<div class="mb-3">
			{{ form.title.label_tag }}
			{{ form.title }}
			<div class="text-danger">{{ form.title.errors }}</div>
		</div>

		<div class="mb-3">
			{{ form.description.label_tag }}
			{{ form.description }}
			<div class="text-danger">{{ form.description.errors }}</div>
		</div>

		<div class="mb-3">
			{{ form.tags.label_tag }}
			{{ form.tags }}
			<div class="text-danger">{{ form.tags.errors }}</div>
		</div>

		<div class="mb-3">
			{{ form.admins.label_tag }}
			{{ form.admins }}
			<div class="text-danger">{{ form.admins.errors }}</div>
		</div>
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-success flex-grow-1">
          <i class="bi bi-save"></i> Save changes
        </button>
		<a href="{% url 'board_detail' slug=board.slug %}" class="btn btn-secondary flex-grow-1">Back</a>
      </div>
	    {{ form.media.js }} 
    </form>
    {% if form.non_field_errors %}
      <div class="alert alert-danger mt-3">
        <ul class="mb-0">
          {% for field in form %}
            {% for error in field.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#id_admins').select2({
      placeholder: 'Choose admins',
      width: '100'
    });
  });
</script>
{% endblock %}

