<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Social Network{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body {% if request.resolver_match.url_name == 'notifications_list' %}data-notifications-page="true"{% endif %}>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'users_list' %}"><i class="bi bi-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_detail' user.slug %}"><i class="bi bi-person-circle fs-6" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts-list' %}"><i class="bi bi-journal-text fs-6"></i></a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'messenger_main' %}"><i class="bi bi-chat-dots fs-6"></i></a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "groups_list" %}"><i class="bi bi-collection fs-6" aria-label="Пабліки"></i></a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="#" id="notificationsToggle">
                            <i class="bi bi-bell fs-6"></i>
                            <span id="notifications-badge"
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">
                                0
                            </span>
                        </a>

                        <div id="notifications-dropdown"
                            class="shadow rounded bg-gray d-none">
                            <div class="p-2 border-bottom fw-bold small">
                                <div class="d-flex align-items-center mb-2 gap-2">
                                    <a href="{% url "notifications:notifications_list" %}" class="text-decoration-none text-light">
                                    Notifications
                                    </a>
                                    <button class="mark-all-read-btn btn-dd d-none" title="Mark all read">✓</button>
                                </div>
                            </div>
                            <div id="notifications-container"></div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sing in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/notifications/notifications.js' %}"></script>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let cookie of cookies) {
            cookie = cookie.trim();
            if (cookie.startsWith(name + "=")) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// глобальна змінна для всього JS
const CSRF_TOKEN = getCookie("csrftoken");
</script>
</body>
</html>
