{% if board.boards_mini %}
<div class="col-12 mb-1 board-item" data-board-id="{{ board.id }}">
    <div class="card px-2 py-2 shadow-sm d-flex flex-row align-items-center justify-content-between">
        <div class="me-2">
            <div class="fw-semibold small">{{ board.title|truncatechars:30 }}</div>
            <div class="text-light" style="font-size: 12px;">
                {{ board.members.count }} members
            </div>
        </div>
        {% if board.user_is_member %}
            <a href="{% url 'board_detail' board.slug %}"
               class="btn btn-primary btn-sm px-2 py-0">
                →
            </a>
        {% else %}
            <form action="{% url 'join_board' board.slug %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-outline-primary btn-sm px-2 py-0">
                    +
                </button>
            </form>
        {% endif %}
    </div>
</div>
{% else %}
<div class="col-md-4 mb-4 board-item" data-board-id="{{ board.id }}">
    <div class="card p-3 shadow-sm">
        <h4>{{ board.title|truncatechars:30 }}</h4> {% if request.user == board.creator %}<div class="badge-over">Yours</div>{% endif %}
        <p class="text-light small">{{ board.members.count }} members</p>
        <p>{{ board.description|default:"No description"|truncatechars:100 }}</p>


        <div class="mb-2">
            {% with tags=board.tags.all %}
                {% for tag in tags|slice:":3" %}
                    <a href="{% url "boards_list" %}?{% for t in selected_tags %}q={{ t }}&{% endfor %}q={{ tag.name }}"
                    class="badge bg-secondary me-1 text-decoration-none text-light">
                        #{{ tag.name|truncatechars:10 }}
                    </a>
                {% endfor %}

                {% if tags|length > 3 %}
                    <span class="badge bg-secondary text-light">
                        +{{ tags|length|add:"-3" }}
                    </span>
                {% endif %}
            {% endwith %}
        </div>
        {% if board.user_is_member %}
            <a href="{% url 'board_detail' board.slug %}" class="btn btn-primary btn-sm w-100">View board</a>
        {% else %}
            <form action="{% url 'join_board' board.slug %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm w-100">Join board</button>
            </form>
        {% endif %}
    </div>
</div>
{% endif %}