<div class="board-message-item mb-2" data-id="{{ board_message.id }}" id="board-message-{{ board_message.id }}">
    <div class="card p-2 bg-dark text-light border-0 shadow-sm rounded-3">
        <div class="card-body p-2">
            <div class="d-flex align-items-start justify-content-between mb-2">
                <div class="d-flex align-items-center">
                    {% if board_message.sender.avatar %}
                    <img src="{{ board_message.sender.get_avatar_url  }}" alt="" class="avatar-small">
                    {% endif %}
                    <div class="ms-2">
                    <div class="fw-semibold">
                        <a href="{% url 'user_detail' board_message.sender.slug %}" class="text-decoration-none text-light">
                        {{ board_message.sender.username }}
                        </a></div>
                        <div class="text-light small">{{ board_message.created_at|date:"d.m.Y H:i" }}
                            {% if board_message.was_edited %}
                                <span
                                    class="ms-1 text-light css-tooltip"
                                    data-title="edited at {{ board_message.updated_at|date:'H:i d.m.Y' }}">
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="ms-2">
                    {% include "helpers/boards/dd_board_message.html" with board_message=board_message %}
                </div>
            </div>

            <div class="board-message-content p-2 rounded text-light">{{ board_message.content }}</div>
        </div>
    </div>
</div>